<app-admin-header></app-admin-header>
<div class="content">
    <form (ngSubmit)="onSubmit()">
        <div [hidden]="submited" class="formArea">
            <!-- Form Content ......................... -->
            <h1 class="alignCenter">{{ 'form.user.create' | translate }}</h1>
            <div class="formGroup">
                <label for="email">{{ 'user.email' | translate }}</label>
                <input type="text" id="email" name="email" [(ngModel)]="user.email" />
            </div>
            <div class="formGroup">
                <label for="name">{{ 'user.name' | translate }}</label>
                <input type="text" id="name" name="name" [(ngModel)]="user.name" />
            </div>
            <div class="formGroup">
                <label for="displayName">{{ 'user.displayName' | translate }}</label>
                <input type="text" id="displayName" name="displayName" [(ngModel)]="user.displayName" />
            </div>
            <div class="formGroup">
                <label for="password">{{ 'user.password' | translate }}</label>
                <input type="text" id="password" name="password" [(ngModel)]="user.password" />
            </div>
            <div class="formGroup">
                <label for="passwordConfirm">{{ 'user.passwordConfirm' | translate }}</label>
                <input type="text" id="passwordConfirm" name="passwordConfirm" [(ngModel)]="user.passwordConfirm" />
            </div>
            <!-- Button Bar -->
            <div class="formButtonBar">
                <button type="submit">{{ 'button.save' | translate }}</button>
                <button type="button" class="buttonNeutral" (click)="close()">{{ 'button.close' | translate
                    }}</button>
            </div>
            <!-- ...................................... -->
        </div>
    </form>
    <div [hidden]="!submited" class="msgDisplay middleOnParent">
        Mensagem!
    </div>
</div>
<app-public-footer></app-public-footer>