<div class="login">
    <form (ngSubmit)="onSubmit()">
        <div class="loginForm middleOnParent">
            <!-- Form Content ......................... -->
            <h1>{{ 'form.login.title' | translate }}</h1>
            <img src="../../../assets/img/login.jpg" alt="login" />
            <div class="formGroup">
                <label for="username">{{ 'login.label.username' | translate }}</label>
                <input type="text" id="username" name="username">
            </div>
            <div class="formGroup">
                <label for="username">{{ 'login.label.password' | translate }}</label><input type="password"
                    id="password" name="password">
            </div>
            <!-- Button Bar -->
            <div class="formButtonBar">
                <button type="button" id="btn-home" [routerLink]="['/home']">{{ 'button.back' | translate }}</button>
                <button type="submit">{{ 'button.submit' | translate }}</button>
            </div>
            <div>
                <p class="textSmall alignCenter">{{ 'form.login.txtreset' | translate }}<a
                        [routerLink]="['/signup']">{{ 'form.login.txthere' | translate }}</a>!</p>
                <p class="textSmall alignCenter">{{ 'form.login.txtsignup' | translate }}<a
                        routerLink="/signup">{{ 'form.login.txthere' | translate }}</a>!</p>
            </div>
            <!-- ...................................... -->
        </div>
    </form>
</div>