<div class="login">
    <form (ngSubmit)="onSubmit()">
        <div class="loginForm middleOnParent">
            <!-- Form Content ......................... -->
            <h1>{{ 'form.login.title' | translate }}</h1>
            <img src="../../../assets/img/login.jpg" alt="login" />
            <div class="formGroup">
                <label for="username">{{ 'user.username' | translate }}</label>
                <input type="text" id="username" name="username" [(ngModel)]="login.username">
            </div>
            <div class="formGroup">
                <label for="username">{{ 'user.password' | translate }}</label>
                <input type="password" id="password" name="password" [(ngModel)]="login.password">
            </div>
            <!-- Button Bar -->
            <div class="formButtonBar">
                <button type="submit">{{ 'button.submit' | translate }}</button>
                <button type="button" class="buttonNeutral" id="btn-home" [routerLink]="['/home']">{{ 'button.close' | translate }}</button>
            </div>
            <!-- Reset and Signup links -->
            <div>
                <p class="textSmall alignCenter">{{ 'form.login.txtreset' | translate }}<a
                        [routerLink]="['/reset-request']">{{ 'form.login.txthere' | translate }}</a>!</p>
                <p class="textSmall alignCenter">{{ 'form.login.txtsignup' | translate }}<a routerLink="/signup">{{
                        'form.login.txthere' | translate }}</a>!</p>
            </div>
            <!-- ...................................... -->
        </div>
    </form>
</div>