// base colors
$color-content-base: dimgray;
$color-link: #727de6;

// button
$color-button-bg: #9090e5;
$color-button-bg-hover: white;
$color-button-text: white;
$color-button-text-hover: #9090e5;
$color-button-border: gray;
$color-button-border-hover: gray;

// header
$color-header-bg: #9090e5;
$color-header-shadow: gray;
$color-header-text: white;

// home
$color-login-bg: lightgray;

// forms
$color-form-border: dimgray;